#page-pedido {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 900px;
    max-width: 900px;

    margin: 0 auto;
}


.header img {
    width: 100px;
    height: 100px;  
    margin-left: 20px;  
}

.header p {
    font: 400 24px 'Poppins', sans-serif;

    color: #B7FF45;
}

.exit-buy {
    margin-right: 20px;
}

.exit-buy .btn-exit {
    background: none;

    border: 0;
    cursor: pointer;
}

.exit-buy .btn-buy {
    background: none;

    border: 0;
    cursor: pointer;
}

.exit-buy img,
.exit-buy a img{
    width: 25px;
    height: 25px;

    margin: 10px;
}

.search {
    display: flex;
    /* justify-content: s; */
    align-items: center;
    height: 30px;
    width: 900px;
    max-width: 900px;

    margin: 20px auto;
}

.search .input-product {
    width: 400px;
    height: 40px;
    padding: 10px;

    border-radius: 8px;
    border: 0;
}

.grid-main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: 180px;
    
    justify-content: center;
    /* height: 100%; */
    /* width: 00px; */
    max-width: 900px;
    border-radius: 25px;
    

    margin: 30px auto;

    background: #FFFFFF;
}

.grid-main span {
    color: #000000;
}
