#page-pedido {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 900px;
    max-width: 900px;

    margin: 0 auto;
}

.header a {
    border-radius: 100px;
    margin-left: 20px;
}

.header a img {
    width: 100px;
    height: 100px;    
}

.header p {
    font: 400 24px 'Poppins', sans-serif;

    color: #B7FF45;
}

.exit-buy {
    margin-right: 20px;
}

.exit-buy button {
    background: none;

    border: 0;
    cursor: pointer;
}

.exit-buy img,
.exit-buy a img{
    width: 25px;
    height: 25px;

    margin: 10px;
}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 900px;
    max-width: 900px;
    border-radius: 25px;
    

    margin: 30px auto;

    background: #FFFFFF;
}

main a {
    text-decoration: none;
}

.product {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "nome foto"
        "ingredients foto";
    width: 400px;
    height: 150px;

    margin: 20px;
    padding: 10px;
    border: 2px solid #B7FF45;
    border-radius: 10px;
}

.product strong{
    grid-area: nome;
    font-size: 18px;
    color: #000000;
}

.product strong p {
    grid-area: ingredients;
    font-size: 16px;
    color: #848484;
}

.product p {
    grid-area: ingredients;
    font-size: 18px;
    color: #848484;
}

.product img {
    grid-area: foto;
    width: 100px;
    height: 100px;

    margin: auto;

    border-radius: 15px;
}



