.produtos-modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.produtos-modal .container {
    background-color: #fff; 
    color: #000000;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: stretch;
 
    border-radius: 25px;

    margin: auto;
}



.produtos-modal .container .content-main {
    flex: 3;
    display: block;

    font: 400 16px 'Poppins', sans-serif;

    padding: 10px 25px 10px 25px;


    
}

.content-main header {
    display: flex;
    align-items: center;
    justify-content: center;
    

    height: 10%;
}

.content-main header p {
    text-align: center;
}

.content-main .close {
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    right: calc(-35% );
    top: 0;
    cursor: pointer;

    display: flex;
    position: relative;
    align-items: center;
}

.close::before, .close::after {
    content: ' ';
    position: absolute;
    width: 2.5px;
    height: 24px;
    background-color: #000000;
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: rotate(-45deg);
}

.content-main .produtos-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10%;

    margin: 200px 25px 10px 25px;
}

.produtos-rodape .produtos-counter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px;

    width: 0px;
    height: 30px;
    border: 1px solid #B7FF45;
    margin-right: 150px;
}

.produtos-counter button {
    border: 0;
    color: #B7FF45;
    font: 700;
    background: none;
}

.produtos-rodape .produtos-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 50%;
    height: 120%;
    margin-right: 50px;
    padding: 0 15px 0 15px;
    border: 0;
    border-radius: 5px;
    background: #B7FF45;
}

.produtps-rodape .produtos-button-altura {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 50%;
    height: 30px;
    margin-right: 50px;
    padding: 0 25px 0 25px;
    border: 0;
    border-radius: 5px;
    background: #B7FF45;
}